altgraph==0.17.4
autocommand==2.2.2
certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
macholib==1.16.3
modulegraph==0.19.6
more-itertools==10.5.0
packaging==24.2
py2app==0.28.8
pyobjc-core==10.3.2
pyobjc-framework-Cocoa==10.3.2
requests==2.32.3
rumps==0.4.0
setuptools==71.0.0
urllib3==2.2.3
